.footer{
    padding: 1rem;
    width: 100%;
    font-family: $fontFam3;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    color: white;
}