@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Yanone+Kaffeesatz:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

$fontFam: 'Yanone Kaffeesatz', sans-serif;
$fontFam1: 'Prompt', sans-serif;
$fontFam2: 'Bebas Neue', cursive;
$fontFam3: 'Montserrat', sans-serif;
$fontFam4: 'Neonderthaw', cursive;
$fontFam5: 'JetBrains Mono', monospace;
$fontFam6: 'Koulen', cursive;
$fontFam7: 'Londrina Shadow', cursive;

$numberFont1:'Kdam Thmor Pro', sans-serif;
$numberFont2:'Anton', sans-serif;
$numberFont3:'Pacifico', cursive; 
$numberFont4:'Teko', sans-serif;