@media(max-width:1700px){
    .animateTitle {
        width: 40%;
    }
}

@media(max-width:1100px){
    .animateTitle {
        width: 50%;
    }
    .genre_container{
        height: 20vw;
        width: 40%;
    }
    .genre_section_boxes {
        height: 100%;
        margin-top: .5rem;
    }    
}

@media(max-width:800px){
    .animateTitle{
        width: 110%;
        span{
            font-size: 10vw;
        }
    }
    .genre_section{
        margin-top: 1rem;
    }

    .animateTitle {
        margin: 1rem;
        padding: 0.5rem;
    }
    
}

@media(max-width:700px){
    .genre_container{
        width: 100%;
    }
}

@media(max-width:600px){
    .animateTitle{
        width: 110%;
        span{
            font-size: 10vw;
        }
    }
    .genre_section{
        margin:0;
    }
}